//TODO:De extras intr-un fisier separat
mat-card {
    background-color: #fafa;
    mat-card-content {
        word-break: break-all;
    }
}

#loading-spinner {
    display: block;
    margin: auto;
}