<app-header (isOpen)="toggleSideBar($event)"></app-header>

<mat-sidenav-container>
  <mat-sidenav #side mode="side" [(opened)]="sideNavStatus">
    <mat-form-field>
      <mat-label>Search Category</mat-label>
      <input matInput type="text" name="search" />
    </mat-form-field>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Filter Options </mat-panel-title>
        </mat-expansion-panel-header>
        <section>
          <mat-checkbox
            [class]="prop?.label"
            [checked]="prop?.isChecked"
            (change)="filterCategory(prop?.label, $event?.checked)"
            *ngFor="let prop of filterList"
            >{{ prop?.label }}</mat-checkbox
          >
        </section>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>

    <mat-form-field appearance="outline">
      <mat-select>
        <mat-option>
          <mat-expansion-panel (click)="$event.stopImmediatePropagation()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-radio-button>Entity 1</mat-radio-button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <mat-radio-button>1</mat-radio-button>
              </li>
              <li>
                <mat-radio-button>2</mat-radio-button>
              </li>
              <li>
                <mat-radio-button>3</mat-radio-button>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-option>
        <mat-option>
          <mat-expansion-panel (click)="$event.stopImmediatePropagation()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-radio-button>Entity 2</mat-radio-button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <mat-radio-button>1</mat-radio-button>
              </li>
              <li>
                <mat-radio-button>2</mat-radio-button>
              </li>
              <li>
                <mat-radio-button>3</mat-radio-button>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-option>
        <mat-option>
          <mat-expansion-panel (click)="$event.stopImmediatePropagation()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-radio-button>Entity 3</mat-radio-button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <mat-radio-button>1</mat-radio-button>
              </li>
              <li>
                <mat-radio-button>2</mat-radio-button>
              </li>
              <li>
                <mat-radio-button>3</mat-radio-button>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
