mat-card {
    display: inline-flex;
    flex-direction: column;
    margin-left: 5px;
    width: 200px;
    height: 260px;
    overflow: auto;
}

mat-sidenav-container {
    height: calc(100% - 128px);
    mat-sidenav {
        box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
        width: 200px;
        padding-top: 10px;
    }
    mat-sidenav-content {
        padding-left: 10px;
    }
}